.splide__arrow
{
    top: 38%;
    opacity: 1;
    border-radius: 20px;
    height: 4em;
    background: #fff;
}

.splide__arrow svg
{
    fill: #3e3e3e;
}

@media only screen and (max-width: 800px)
{
    .splide__arrow
    {
        top: 44%;
    }
}